body {
    margin: 0;
    padding: 0;
    }


header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background: url('https://images.unsplash.com/photo-1523681504355-8b4860f99a58?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
    background-size: cover;
        }

input {
            margin: 10px 0;
            padding: 10px;
            border: unset;
            border-bottom: 2px solid #e3e3e3;
            outline: none;
        }  

button {
            padding: 10px;
            background: #e3e3e3;
            border: unset;
            cursor: pointer;
        }
h1 {
        color: rgb(154, 207, 55);
        font-size: 60px;
        font-family: 'Times New Roman', Times, serif;
    }

footer {
        padding-top: 20px;
        padding-bottom: 60px;
        text-align: center;
    }

footer .links {
        margin-bottom: 50px;
    }

footer .links > a {
        color: rgb(46, 45, 43);
        padding: 0 25px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

.copyright {
        color: rgb(19, 19, 19);
        font-family: 'Times New Roman', Times, serif;
    }

.news {
        background-color: aliceblue;
        padding: 50px 0 32 px;
    }

article {
        width: 768px;
        margin: 0 auto 32px;
        padding: 6px 15px;
        border-bottom: 1px solid rgb(140, 191, 236);
    }

article a {
        color: black;
        text-decoration: none;
    }

article a:hover {
        color: darkcyan;
    }

article h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 5px;
    }

.article-meta {
        color: rgb(153, 149, 144);
        margin-bottom: 5px;
    }

article img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

.msg {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(154, 207, 55);
        border-radius: 3px;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }